.user-info-container{
    display: flex;
    flex-direction: column;
}

.product_info_Container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.Title-Info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.Value-Info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.valueInput{
    font-size: 15px;
    height: 30px;
    width: 150%;
    padding: 5px;
    border-radius: 5px;
}

.main-image{
    position: relative;
    left: 50%;
    margin-top: 20px;
}

.main-image h3{
    position: relative;
    right: 30%;
    width: 700px
}

.imgInput{
    font-size: 15px;
    height: 30px;
    width: 75%;
    padding: 5px;
    border-radius: 5px;
    margin-left: 30px;

}



.product-button-container{
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}


#saveProductUpdate,
#updateProductInfo{
    border: none;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #0062cc;
    width: 150px;
    height: 50px;
}

#updateProductInfo{
    height: 50px;

}


#cancelProductUpdate{
    background-color: red;
    width: 150px;
    height: 50px;
}

#cancelProductUpdate:hover{
    background-color: darkred;
}


#saveProductUpdate:hover,
#updateProductInfo:hover{
    background-color: darkblue;
}


.valueInput{
    position: relative;
    margin-left: 50px;
    color: black;
}

